head
  meta(charset='utf-8')
  title An Simple Tasks Management
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='title', content='An Simple Tasks Management')
  meta(name='description', content='')
  meta(name='author', content='Alexandre Mulatinho')
  meta(name='keywords', content='tasks, software, todo, study')
  meta(http-equiv="refresh", content="900")
  link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Muli|Orbitron|Special+Elite|Sanchez|Jura|Major+Mono+Display", rel="stylesheet")
  link(href='/public/imgs/logo.ico', rel='shortcut icon')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  
  
  block headExtra
