head
  meta(charset='utf-8')
  title An Simple Tasks Management
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='title', content='An Simple Tasks Management')
  meta(name='description', content='')
  meta(name='author', content='Alexandre Mulatinho')
  meta(name='keywords', content='tasks, software, todo, study')
  meta(http-equiv="refresh", content="900")
  
  link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Muli|Orbitron|Special+Elite|Sanchez|Jura|Major+Mono+Display", rel="stylesheet")
  link(href='/public/imgs/logo.ico', rel='shortcut icon')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(href='/public/fontawesome/css/all.min.css', rel='stylesheet')
  link(href='/public/bootstrap/css/bootstrap.min.css', rel='stylesheet')
  link(href='/public/css/main.css', rel='stylesheet')

  script(type='text/javascript',  src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
  script(type='text/javascript', src="/public/js/jquery-3.2.1.min.js")
  script(type='text/javascript', src="/public/bootstrap/js/bootstrap.min.js")
  
  block headExtra
