head
  meta(charset='utf-8')
  title A Simple Task Management
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='title', content='A Simple Task Management')
  meta(name='description', content='')
  meta(name='author', content='Alexandre Mulatinho')
  meta(name='keywords', content='tasks, software, todo, study')
  meta(http-equiv="refresh", content="900")
  
  link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Muli|Orbitron|Special+Elite|Sanchez|Jura|Major+Mono+Display", rel="stylesheet")
  link(href='/public/imgs/favicon.ico', rel='shortcut icon', sizes="32x32")
  link(href='/public/fontawesome/css/all.min.css', rel='stylesheet')
  link(href='/public/bootstrap/css/bootstrap.min.css', rel='stylesheet')
  link(href='/public/css/main.css', rel='stylesheet')
    
  script(type='text/javascript', src="/public/jquery/jquery.min.js")
  //- script(type='text/javascript', src='/public/popper.js/popper.min.js')
  script(type='text/javascript', src="/public/bootstrap/js/bootstrap.min.js")
  
  block headExtra
