extends layout.pug

block content
  - const taskNow = task ? task : null;
  .container-fluid
    .row
      .offset-lg-2.offset-md-1.offset-sm-0
      .col-lg-8.col-md-10.col-sm-12
        center
          h1.textOpacity Todo-App RESTful
        br
        br
        
        center 
          img(src="/public/imgs/redhat.png", width="150vw")
          br
          br
          .showLogin(data-href='Login')
            p Please login below or 
              a.textOpacity.btn-action(href="#", data-href="Signup") sign up here
              |.
          .showSignup(data-href='Signup').hidden
            p Please signup below or 
              a.textOpacity.btn-action(href="#", data-href="Login") click here to back to login
              |.
        br
        br
        .showSignup(data-href='Signup').hidden
          .row
            .offset-lg-2.offset-sm-1
            .col-lg-8.col-sm-10.col-xs-12.form-group
              input#inputName.form-control(type="text", name="inputName", required="")
              label.form-control-placeholder(for="inputEmail") Your Name
            .offset-lg-2.offset-sm-1
        .row
          .offset-lg-2.offset-sm-1
          .col-lg-8.col-sm-10.col-xs-12.form-group
            input.form-control(type="hidden", name="email")
            input#inputEmail.form-control(type="text", name="inputEmail", required="")
            label.form-control-placeholder(for="inputEmail") E-mail
          .offset-lg-2.offset-sm-1
        .row
          .offset-lg-2.offset-sm-1
          .col-lg-8.col-sm-10.col-xs-12.form-group
            input#inputPassword.form-control(type="password", name="inputPassword", required="")
            label.form-control-placeholder(for="inputPassword") Password
          .offset-lg-2.offset-sm-1
        .row
          .offset-lg-2.offset-sm-1
          .col-lg-8.col-sm-10.col-xs-12
            br
            p#warnMessage.hidden Some of that information typed above are wrong!
            br
            .showLogin(data-href='Login')
              button.btn.btn-block.btn-dark.btn-login.lessz(type="button") Login
            .showSignup(data-href='Signup').hidden
              button.btn.btn-block.btn-dark.btn-signup.lessz(type="button") Sign Up!
          .offset-lg-2.offset-sm-1
  
  script.
    $(document).ready(function() {
      $(".btn-action").click(function(evt) {
        const data = "show" + $(this).data("href");
        console.log(data)
        $('div[class^="show"]').addClass("hidden")
        $('.' + data).removeClass("hidden");
      });
    
      const checkMail = (email) => {
        return /^([\w_\.\-\+])+@([\w\-]+\.)+([\w]{2,10})+$/.test(email)
      }
      
      function warnObligatory() { 
        $("#warnMessage").removeClass("hidden"); 
        setTimeout(function(){ $("#warnMessage").addClass("hidden") }, 3000)
      }
      
      $('.btn-login').click(function() {
        const inputEmail = $('#inputEmail').val();
        const inputPassword = $('#inputPassword').val();
        
        const data = { inputEmail: inputEmail, inputPassword: inputPassword };
        
        if (!checkMail(inputEmail)) {
          warnObligatory();
          return;
        }
        
        fetch('/sessions/login', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(data)
        })
        .then(response => {
          console.log(response);
          if (response.status == 200) { window.location.href = '/tasks'}
        });
      });
      
      $('.btn-signup').click(function() {
        const inputName = $('#inputName').val();
        const inputEmail = $('#inputEmail').val();
        const inputPassword = $('#inputPassword').val();
        
        const data = { inputName: inputName, inputEmail: inputEmail, inputPassword: inputPassword };
        
        if (!checkMail(inputEmail)) {
          warnObligatory();
          return;
        }
        
        fetch('/sessions/signup', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(data)
        })
        .then(response => {
          console.log(response);
          if (response.status == 200) { window.location.href = '/tasks'}
        });
      });
    });
