doctype html
html(lang='en')
  block head
    include header.pug

  body#bodyInit
    block top
      div.container-fluid
        include top.pug

        br

        block content

    block footer
      include footer.pug
